* {
    box-sizing: border-box;
}

html {
    line-height: 1.15;
}

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.15;
    color: #6c757d;
    text-align: left;
    background-color: #ffffff;
}

.indicator {
    background-color: #0bceaf;
    color: #0bceaf;
}

.about-img {
    margin-left: -110px;
    right: -60px;
    /* margin-bottom: 200px; */
    size: 40px;
}

.size_text {
    font-size: 50px;
    text-size-adjust: bold;
}

.profile-img {
    width: 10%;
}

.tittle {
    margin-top: 4.5%;
}

.btn {
    padding: 10px, 25px;
    border-radius: 100px;
}

.btn-white {
    background-color: #ffffff;
    border: 3px solid #ffffff;
}

.btn-blue {
    border: 3px solid #ffffff;
    color: #ffffff;
}

.hero-text {
    margin-top: 60px;
}

.typed-cursor {
    font-size: 50px;
    color: #ffffff;
}

.position-absolute {
    font-weight: 700;
}


/* navbar   */

a {
    color: #0bceaf;
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    color: tomato;
    text-decoration: underline;
}


/* 
.navbar-light {
    display: none;
} */


/* 
.navbar-light .navbar-nav .nav-link {
    padding: 26px 10px;
    color: #343a40;
    font-weight: 500;
    outline: none;
} */

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: blue;
}


/* Section---About */

.blue {
    color: #ffffff;
    background-color: rgb(32, 125, 248);
}

.blue:hover {
    color: tomato;
    background-color: rgb(32, 125, 248);
    border-radius: 2px solid blue;
}

#skill-bar {
    padding-bottom: 2%;
}

.progress-bar {
    color: #0bceaf;
    background-color: #0bceaf;
}

.color {
    color: tomato;
    font-size: 15px;
}

.ex-me {
    margin-top: 35px;
}

.service-h4 {
    padding-bottom: 30px;
}

.service-icon {
    width: 60px;
    height: 60px;
    display: inline-block;
    align-items: center;
    justify-content: center;
    border-radius: 60px;
    margin: 3%;
}

.service-box {
    box-shadow: 0px 1px 7px rgb(0, 0, 0, 0.1);
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
}

.service-box:hover {
    box-shadow: 0px 1px 13px rgba(27, 27, 27, 0.7);
}


/* .service1 {
    display: flex;
    margin-left: 30%;
    width: 80%;
} */


/* Contract part */

.container {
    width: 85%;
    /* background: #fff; */
    border-radius: 6px;
    padding: 20px 60px 30px 40px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.container .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container .content .left-side {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    position: relative;
}

.content .left-side::before {
    content: '';
    position: absolute;
    height: 70%;
    width: 2px;
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
    background: #afafb6;
}

.content .left-side .details {
    margin: 14px;
    text-align: center;
}

.content .left-side .details i {
    font-size: 30px;
    color: #3e2093;
    margin-bottom: 10px;
}

.content .left-side .details .topic {
    font-size: 18px;
    font-weight: 490;
}

.content .left-side .details .text-one,
.content .left-side .details .text-two {
    font-size: 14px;
    /* color: #afafb6; */
}

.container .content .right-side {
    width: 75%;
    margin-left: 75px;
}

.content .right-side .topic-text {
    font-size: 23px;
    font-weight: 600;
    color: #3e2093;
}

.right-side .input-box {
    height: 50px;
    width: 100%;
    margin: 12px 0;
}

#contract {
    margin-top: 25px;
    margin-bottom: 30px;
}

.right-side .input-box input,
.right-side .input-box textarea {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    background: #F0F1F8;
    border-radius: 6px;
    padding: 0 15px;
    resize: none;
}

.right-side .message-box {
    min-height: 110px;
}

.right-side .input-box textarea {
    padding-top: 6px;
}

.right-side .button {
    display: inline-block;
    margin-top: 12px;
}

.right-side .button input[type="button"] {
    /* color: #fff; */
    font-size: 18px;
    outline: none;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    background: rgb(25, 103, 192);
    cursor: pointer;
    transition: all 0.3s ease;
}

.button input[type="button"]:hover {
    background: blue;
}

@media (max-width: 950px) {
    .container {
        width: 90%;
        padding: 30px 40px 40px 35px;
    }
    .container .content .right-side {
        width: 75%;
        margin-left: 55px;
    }
}

@media (max-width: 820px) {
    .container {
        margin: 40px 0;
        height: 100%;
    }
    .container .content {
        flex-direction: column-reverse;
    }
    .container .content .left-side {
        width: 100%;
        flex-direction: row;
        margin-top: 40px;
        justify-content: center;
        flex-wrap: wrap;
    }
    .container .content .left-side::before {
        display: none;
    }
    .container .content .right-side {
        width: 100%;
        margin-left: 0;
    }
}

footer {
    background-color: #403D3D;
    text-align: center;
    /* padding: 5%; */
    /* margin-top: 3%; */
    padding-bottom: 4%;
    padding-top: 4%;
    width: 100%;
    border-top-right-radius: 2%;
    border-top-left-radius: 2%;
}

#h2-footer {
    color: aliceblue;
}

.white-color {
    color: white;
    font-size: 20px;
}

.red-color {
    color: mediumvioletred;
}

.gray-color {
    color: ghostwhite;
}

.orange-color {
    color: orange;
}